@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    width: 60%;
    margin: 2em;
}

.container {
    display: grid;
    grid-template-areas: 
    'a b b c c'
    'd d f f f'
    'e e h h h'
    'g g h h h'
    '. . h h h';
    gap: 10px;
    align-items: center;
}

/*pp*/
.pp {
    grid-area: a;
}
.pp img {
    height: 50px;
}

/*nom*/
.nom {
    grid-area: b;
    text-align: center;
}

/*info personel*/
.infoperso {
    grid-area: c;
}

/*about me*/
.aboutme {
    grid-area: d;
}

/*langage*/
.langage {
    grid-area: e;
}
.langage img {
    width: 20px;
}

/*hobby*/
.hobby {
    grid-area: g;
}

/*skills*/
.skills {
    grid-area: f;
}

/*education background*/
.educationbg {
    grid-area: h;
}

/*other*/
